<app-navbar></app-navbar>
<div class="container">
  <div class="container">
    <table class="table" *ngIf="copas.length > 0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Mesa</th>
          <th scope="col">Pratos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let copa of copas; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ copa.nomeSolicitante }}</td>
          <td>{{ copa.mesa }}</td>
          <td>{{ copa.bebida.nome}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="copas.length === 0" class="text-center">Nenhum pedido disponível.</div>
  </div>
</div>