.container{
    padding: 5%;
}
h3 {
    font-size: 2rem; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    text-align: center; /* Alinhamento central */
    margin-top: 50px; /* Espaçamento superior */
  }