#navbar-geral{
    background-color: #000;
}

.nav-link{
    color: #fff;
}

.navbar-nav {
    .nav-item {
        padding: 10px;
      margin-right: 10px; // Adiciona margem à direita de cada item de navegação
    }
}


